* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter_18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter_18pt-Regular.woff') format('woff'),
        url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../fonts/Inter_18pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter_18pt-SemiBold.woff') format('woff'),
        url('../fonts/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter_24pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter_24pt-Medium.woff') format('woff'),
        url('../fonts/Inter_24pt-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/Inter_18pt-Light.woff2') format('woff2'),
        url('../fonts/Inter_18pt-Light.woff') format('woff'),
        url('../fonts/Inter_18pt-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --purple-dark: #820AD1;
    --purple-medium: #9436E1;
    --white: #FFFFFF;
    --black: #000000;
    --white-16: #FFFFFF29;
    /* 16% opacity */
    --white-10: #FFFFFF1A;
    /* 10% opacity */
    --white-80: #FFFFFFCC;
    /* 80% opacity */
    --white-24: #FFFFFF3D;
    /* 24% opacity */
    --green: #1A9C50;
    --pink: #C529FD;
    --light-purple: #DEDEFF;
    --deep-purple: #5A1D8C;
    --inter-regular: Inter-Regular;
    --inter-semibold: Inter-SemiBold;
    --inter-medium: Inter-Medium;
    --inter-light: Inter-Light;
    --border-color: #2F2B2B;
    --btn-color: #434246;
}

main {
    background: var(--black);
    min-height: 100vh;
}

.section-wrapper {
    background: var(--purple-dark);
}

.main-container {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header-nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 9px;
    list-style: none;
}

.logo-wrapper {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: var(--purple-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-wrapper img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    display: block;
}

.menu-toggle {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid var(--purple-dark);
    background: var(--white);
    top: -4px;
    right: 0;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.card.card-2 {
    background: var(--purple-medium);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-radius: 18px;
}

.cards-container .card {
    padding: 19px 12px;
    padding-left: 12px;
}

.card-text {
    font-size: 13px;
    font-family: var(--inter-medium);
    font-weight: 500;
    line-height: 19px;
}

.card.card-2 .card-text {
    color: var(--white);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.card-img {
    width: 46px;
}

.card-btn {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.card-btn img {
    filter: invert(0);
}

.card.card-1 {
    background: var(--white);
}

.card.card-1 .card-text {
    color: var(--purple-dark);
}

.nu-balance-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 271px;
    padding: 40px 0;
    border-bottom: 1px solid var(--border-color);
}

.nu-title {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--inter-medium);
    color: var(--white);
}

.nu-amount {
    font-size: 20px;
    font-family: var(--inter-medium);
    font-weight: 500;
    color: var(--white);
    margin-top: 9px;
}

.nu-button img {
    width: 12px;

}

.nu-button {
    background: none;
    outline: none;
    border: none;
}

.cards-header {
    display: flex;
    align-items: center;
    gap: 21px;
    background: var(--white-16);
    border-radius: 14px;
    padding: 8px 12px;
}

.cards-header .header-title {
    font-family: var(--inter-medium);
    font-weight: 500;
    color: var(--white);
    line-height: 19px;
}

.tarjetas-container {
    padding: 30px 20px;
}

.card-promo {
    background: var(--white-24);
    border: 1px solid var(--white-10);
    border-radius: 21px;
    padding: 40px 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.promo-line1 {
    font-family: var(--inter-medium);
    font-weight: 500;
    color: var(--white);
    line-height: 19px;
}

.promo-line2 {
    font-family: var(--inter-regular);
    font-weight: 400;
    color: var(--white-80);
    line-height: 19px;
    font-size: 14px;
}

.promo-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-purple);
    flex-shrink: 0;
}

.promo-indicator {
    width: 6px;
    height: 6px;
    background: var(--pink);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

.modal-image-wrapper img {
    width: 129px;
}

.modal-image-wrapper {
    width: 157px;
    height: 157px;
    border-radius: 50%;
    background: #830AD11A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 40px);
    left: 50%;
    transform: translateX(-50%);
    top: 22px;
}

.modal-header button {
    background: var(--btn-color);
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.modal-container {
    position: relative;
}

.modal-container {
    padding: 22px 20px;
}

.modal-section {
    background: var(--white-10);
}

.cajita-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
    border-bottom: 1px solid var(--border-color);
}

.cajita-title,
.summary-text {
    font-family: var(--inter-semibold);
    font-weight: 600;
    color: var(--white);
    font-size: 26px;
    line-height: 19px;
}

.cajita-total-balance .balance-label,
.cajita-container .available-label,
.frozen-label,
.frozen-available-label {
    font-family: var(--inter-regular);
    font-weight: 400;
    color: var(--white-80);
    line-height: 19px;
}

.cajita-total-balance .balance-amount {
    font-family: var(--inter-semibold);
    font-weight: 600;
    color: var(--white);
    line-height: 19px;
    margin-top: 14px;
    font-size: 30px;
}

.available-values .available-cash,
.frozen-amount,
.frozen-cash {
    font-family: var(--inter-medium);
    font-weight: 500;
    color: var(--white);
}

.available-values .available-extra,
.frozen-extra {
    font-family: var(--inter-light);
    font-weight: 300;
    color: var(--green);
    line-height: 19px;
}

.available-values,
.frozen-available-values {
    margin-top: 6px;
}

.cajita-available-block,
.frozen-info,
.frozen-header-buttons,
.frozen-available-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.available-rate .rate-value,
.frozen-rate .rate-max,
.frozen-rate {
    font-family: var(--inter-medium);
    font-weight: 500;
    color: var(--white);
    line-height: 100%;
}

.frozen-amount {
    margin-top: 6px;
}

.frozen-info {
    padding: 30px 0;
}

.cajita-actions {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cajita-actions button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--border-color);
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajita-actions button img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.frozen-header-buttons button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.frozen-header-buttons {
    padding: 22px 0;
}

.summary-title img {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.summary-icon {
    display: inline-block;
    align-content: end;
    position: relative;
    top: 6px;
}

.summary-description {
    font-size: 18px;
    font-family: var(--inter-regular);
    font-weight: 400;
    color: #a3a3a3;
    line-height: 24px;
    margin-top: 14px;
}

.frozen-summary {
    padding: 22px 0;
}

.frozen-available-block {
    padding: 30px 0 22px 0;
}

.frozen-balance-container {
    border-bottom: 1px solid var(--border-color);
}

.frozen-available-values,
.available-values {
    display: flex;
    align-items: center;
    gap: 5px;
}